# Organizar os dados
 
Preparar os dados pré processados anteriormente para aplicação nas simulações da GAT 

** Aqui é a versão final com as redes já no tamanho adequado para a quantidade de features

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mygene
import h5py
import networkx as nx
import seaborn as sns
%matplotlib inline

### Multinet

In [2]:
MULTINET_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/MULTINET_network.tsv', sep='\t', index_col='Unnamed: 0')

MULTINET_features_da_rede = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features_das_redes/features_MultiNet2.tsv', sep='\t', index_col='Unnamed: 0')

features = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features/unity_features.tsv', sep='\t', index_col='Unnamed: 0')

labels = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/labels/unity_labels.tsv', sep='\t', index_col='Unnamed: 0')

In [6]:
MULTINET_features_da_rede2 = MULTINET_features_da_rede.rename(columns={"Gene": "gene"})

# Deixando igual o número de features ao número de nós 

# A ideia é fazer um conact com as features das redes (que já são os números de nós das redes) e manter só os que deram macth com esse dataframe 'left' no caso
# Isso soluciona porque concatena e fica apenas os genes contidos na rede ppi correspondente

MULTINET_features = pd.merge(MULTINET_features_da_rede2, features, how = 'left', on = 'gene')

MULTINET_features_completo = MULTINET_features.set_index('gene')

MULTINET_features_completo

,betweenness,closeness,degree,clustering_coefficient,CNA: BLCA,CNA: BRCA,CNA: CESC,CNA: COAD,CNA: ESCA,CNA: HNSC,...,MF: KIRC,MF: KIRP,MF: LIHC,MF: LUAD,MF: LUSC,MF: PRAD,MF: READ,MF: STAD,MF: THCA,MF: UCEC
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.000000e+00,1.000000,0.000000,0.000000,0.0,0.000000,0.167401,0.000000,0.000000,0.255263,...,0.012838,0.040970,0.050114,0.000000,0.000000,0.022774,0.028288,0.013054,0.000000,0.007712
A1CF,1.253962e-03,0.270370,0.002679,0.100000,0.0,0.000000,0.000000,0.000000,0.283951,0.000000,...,0.012698,0.000000,0.024672,0.117901,0.000000,0.090341,0.027762,0.011448,0.000000,0.010251
A2M,2.633543e-03,0.321576,0.012726,0.036842,0.0,0.000000,0.000000,0.174419,0.000000,0.000000,...,0.012836,0.040877,0.000000,0.122328,0.109769,0.022773,0.000000,0.038998,0.003601,0.019196
AAAS,6.191113e-05,0.303816,0.000670,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.025661,0.040872,0.000000,0.000000,0.000000,0.000000,0.000000,0.012746,0.003604,0.003829
AACS,1.092119e-05,0.272239,0.008707,0.670330,0.0,0.227126,0.000000,0.000000,0.000000,0.159091,...,0.000000,0.000000,0.000000,0.020504,0.000000,0.000000,0.028397,0.038616,0.003602,0.011557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZXDC,5.593014e-07,0.277358,0.001340,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.040907,0.000000,0.000000,0.000000,0.000000,0.000000,0.025721,0.003603,0.011466
ZYG11B,0.000000e+00,0.262454,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.012818,0.081662,0.025013,0.000000,0.000000,0.000000,0.000000,0.038673,0.000000,0.000000
ZYX,5.255937e-03,0.356741,0.097790,0.063554,0.0,0.000000,0.264317,0.000000,0.000000,0.000000,...,0.012815,0.000000,0.000000,0.020495,0.000000,0.000000,0.000000,0.012873,0.000000,0.022981
ZZEF1,5.805607e-06,0.250521,0.001340,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.038417,0.204110,0.000000,0.059756,0.000000,0.068216,0.028239,0.050702,0.003603,0.041296
ZZZ3,9.073036e-03,0.334124,0.044876,0.019315,0.0,0.000000,0.000000,0.345930,0.000000,0.000000,...,0.012822,0.000000,0.000000,0.020198,0.000000,0.000000,0.000000,0.000000,0.003603,0.003874

In [11]:
MULTINET_features_completo.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/MULTINET_features.tsv', sep='\t')

In [39]:
# Ficar apenas com os labels que também contém no banco de dados

label_1 = pd.merge(MULTINET_features_da_rede2, labels, how = 'left', on = 'gene')

label_2 = label_1.drop(columns=['betweenness', 'closeness', 'degree', 'clustering_coefficient'])

# label_2.loc[label_2['label'] == 'True', 'label'] = 'driver'
# label_2.loc[label_2['label'] == 'False', 'label'] = 'passenger'

label_3 = label_2.set_index('gene')

label_3

        label
gene
A1BG    False
A1CF     True
A2M     False
AAAS    False
AACS    False
...       ...
ZXDC    False
ZYG11B  False
ZYX     False
ZZEF1   False
ZZZ3    False

[13987 rows x 1 columns]

In [42]:
label_3.isnull().sum().sum()

0

In [13]:
label_3.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/MULTINET_labels.tsv', sep='\t')

### IRefIndex

In [12]:
IREF_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/IREF_network.tsv', sep='\t', index_col='Unnamed: 0')

IREF_features_da_rede = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features_das_redes/features_IRefIndex2.tsv', sep='\t', index_col='Unnamed: 0')

features = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features/unity_features.tsv', sep='\t', index_col='Unnamed: 0')

labels = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/labels/unity_labels.tsv', sep='\t', index_col='Unnamed: 0')

In [14]:
IREF_features_da_rede2 = IREF_features_da_rede.rename(columns={"Gene": "gene"})

# Deixando igual o número de features ao número de nós 

# A ideia é fazer um conact com as features das redes (que já são os números de nós das redes) e manter só os que deram macth com esse dataframe 'left' no caso
# Isso soluciona porque concatena e fica apenas os genes contidos na rede ppi correspondente

IREF_features = pd.merge(IREF_features_da_rede2, features, how = 'left', on = 'gene')

IREF_features_completo = IREF_features.set_index('gene')

IREF_features_completo

,betweenness,closeness,degree,clustering_coefficient,CNA: BLCA,CNA: BRCA,CNA: CESC,CNA: COAD,CNA: ESCA,CNA: HNSC,...,MF: KIRC,MF: KIRP,MF: LIHC,MF: LUAD,MF: LUSC,MF: PRAD,MF: READ,MF: STAD,MF: THCA,MF: UCEC
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.000209,0.313320,0.001146,0.022222,0.0,0.000000,0.167401,0.000000,0.000000,0.255263,...,0.012838,0.040970,0.050114,0.000000,0.000000,0.022774,0.028288,0.013054,0.000000,0.007712
A1CF,0.000009,0.311720,0.000891,0.035714,0.0,0.000000,0.000000,0.000000,0.283951,0.000000,...,0.012698,0.000000,0.024672,0.117901,0.000000,0.090341,0.027762,0.011448,0.000000,0.010251
A2M,0.001121,0.350583,0.011968,0.034938,0.0,0.000000,0.000000,0.174419,0.000000,0.000000,...,0.012836,0.040877,0.000000,0.122328,0.109769,0.022773,0.000000,0.038998,0.003601,0.019196
AAAS,0.000002,0.303527,0.000255,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.025661,0.040872,0.000000,0.000000,0.000000,0.000000,0.000000,0.012746,0.003604,0.003829
AACS,0.000003,0.397731,0.000127,0.000000,0.0,0.227126,0.000000,0.000000,0.000000,0.159091,...,0.000000,0.000000,0.000000,0.020504,0.000000,0.000000,0.028397,0.038616,0.003602,0.011557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,0.000000,0.397147,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007645
ZYG11B,0.000008,0.399803,0.000764,0.571429,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.012818,0.081662,0.025013,0.000000,0.000000,0.000000,0.000000,0.038673,0.000000,0.000000
ZYX,0.000580,0.411592,0.008785,0.081573,0.0,0.000000,0.264317,0.000000,0.000000,0.000000,...,0.012815,0.000000,0.000000,0.020495,0.000000,0.000000,0.000000,0.012873,0.000000,0.022981
ZZEF1,0.000047,0.398797,0.001401,0.136364,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.038417,0.204110,0.000000,0.059756,0.000000,0.068216,0.028239,0.050702,0.003603,0.041296
ZZZ3,0.000049,0.320381,0.002419,0.036842,0.0,0.000000,0.000000,0.345930,0.000000,0.000000,...,0.012822,0.000000,0.000000,0.020198,0.000000,0.000000,0.000000,0.000000,0.003603,0.003874

In [15]:
IREF_features_completo.isnull().sum().sum()

0

In [16]:
IREF_features_completo.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/IREF_features.tsv', sep='\t')

In [58]:
# Ficar apenas com os labels que também contém no banco de dados

label_1 = pd.merge(IREF_features_da_rede2, labels, how = 'left', on = 'gene')

label_2 = label_1.drop(columns=['betweenness', 'closeness', 'degree', 'clustering_coefficient'])

# label_2.loc[label_2['label'] == 'True', 'label'] = 'driver'
# label_2.loc[label_2['label'] == 'False', 'label'] = 'passenger'

label_3 = label_2.set_index('gene')

label_3

        label
gene
A1BG    False
A1CF     True
A2M     False
AAAS    False
AACS    False
...       ...
ZYG11A  False
ZYG11B  False
ZYX     False
ZZEF1   False
ZZZ3    False

[14632 rows x 1 columns]

In [47]:
label_3.isnull().sum().sum()

5

In [59]:
label_4 = label_3.dropna()

label_4

        label
gene
A1BG    False
A1CF     True
A2M     False
AAAS    False
AACS    False
...       ...
ZYG11A  False
ZYG11B  False
ZYX     False
ZZEF1   False
ZZZ3    False

[14627 rows x 1 columns]

In [60]:
label_4.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/IREF_labels.tsv', sep='\t')

### HPRD

In [17]:
HPRD_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/HPRD_network.tsv', sep='\t', index_col='Unnamed: 0')

HPRD_features_da_rede = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features_das_redes/features_HPRD2.tsv', sep='\t', index_col='Unnamed: 0')

features = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features/unity_features.tsv', sep='\t', index_col='Unnamed: 0')

labels = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/labels/unity_labels.tsv', sep='\t', index_col='Unnamed: 0')

In [20]:
HPRD_features_da_rede2 = HPRD_features_da_rede.rename(columns={"Gene": "gene"})

# Deixando igual o número de features ao número de nós 

# A ideia é fazer um conact com as features das redes (que já são os números de nós das redes) e manter só os que deram macth com esse dataframe 'left' no caso
# Isso soluciona porque concatena e fica apenas os genes contidos na rede ppi correspondente

HPRD_features = pd.merge(HPRD_features_da_rede2, features, how = 'left', on = 'gene')

HPRD_features_completo = HPRD_features.set_index('gene')

HPRD_features_completo

,betweenness,closeness,degree,clustering_coefficient,CNA: BLCA,CNA: BRCA,CNA: CESC,CNA: COAD,CNA: ESCA,CNA: HNSC,...,MF: KIRC,MF: KIRP,MF: LIHC,MF: LUAD,MF: LUSC,MF: PRAD,MF: READ,MF: STAD,MF: THCA,MF: UCEC
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.167401,0.000000,0.000000,0.255263,...,0.012838,0.040970,0.050114,0.000000,0.000000,0.022774,0.028288,0.013054,0.000000,0.007712
A1CF,0.000529,0.216218,0.014925,0.100000,0.0,0.0,0.000000,0.000000,0.283951,0.000000,...,0.012698,0.000000,0.024672,0.117901,0.000000,0.090341,0.027762,0.011448,0.000000,0.010251
A2M,0.045357,0.268178,0.100746,0.010582,0.0,0.0,0.000000,0.174419,0.000000,0.000000,...,0.012836,0.040877,0.000000,0.122328,0.109769,0.022773,0.000000,0.038998,0.003601,0.019196
AAGAB,0.000094,0.235709,0.003731,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.012804,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
AAMP,0.000000,0.211438,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.396465,...,0.000000,0.040897,0.024970,0.000000,0.000000,0.000000,0.027894,0.000000,0.000000,0.003815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWINT,0.000784,0.213496,0.011194,0.333333,0.0,0.0,0.000000,0.000000,0.283951,0.000000,...,0.000000,0.040867,0.000000,0.061462,0.000000,0.022759,0.027911,0.026028,0.000000,0.011423
ZXDC,0.000023,0.227652,0.007463,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.040907,0.000000,0.000000,0.000000,0.000000,0.000000,0.025721,0.003603,0.011466
ZYG11B,0.000000,0.202896,0.003731,1.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.012818,0.081662,0.025013,0.000000,0.000000,0.000000,0.000000,0.038673,0.000000,0.000000
ZYX,0.006825,0.271666,0.052239,0.038095,0.0,0.0,0.264317,0.000000,0.000000,0.000000,...,0.012815,0.000000,0.000000,0.020495,0.000000,0.000000,0.000000,0.012873,0.000000,0.022981
ZZEF1,0.000752,0.242782,0.011194,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.038417,0.204110,0.000000,0.059756,0.000000,0.068216,0.028239,0.050702,0.003603,0.041296

In [21]:
HPRD_features_completo.isnull().sum().sum()

0

In [22]:
HPRD_features_completo.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/HPRD_features.tsv', sep='\t')

In [13]:
# Ficar apenas com os labels que também contém no banco de dados

label_1 = pd.merge(HPRD_features_da_rede2, labels, how = 'left', on = 'gene')

label_2 = label_1.drop(columns=['betweenness', 'closeness', 'degree', 'clustering_coefficient'])

# label_2.loc[label_2['label'] == 'True', 'label'] = 'driver'
# label_2.loc[label_2['label'] == 'False', 'label'] = 'passenger'

# label_3 = label_2.set_index('gene')

# label_3

In [14]:
nan_values = label_2[label_2['label'].isna()]

nan_values

            gene label
122       ADAM3B   NaN
987   CACTIN-AS1   NaN
5125      MYCLP1   NaN
8489    TMSB4XP4   NaN
8643         TRD   NaN
8652         TRG   NaN

In [16]:
# Tentativa 1: tarduzir a lista de genes dentro da rede e substituir para NaN e depois remover

HPRD_network2.replace(nan_values.set_index('gene').to_dict()['label'], inplace = True)

In [17]:
HPRD_network2

      source  target  weight
0      NR3C1   RNF14       1
1      NCOA4   RNF14       1
2       ESR1   RNF14       1
3      RNF14  UBE2E1       1
4      RNF14  TENT5A       1
...      ...     ...     ...
36859   SELE    SELL       1
36860  CRYAA   CRYAB       1
36861   PLAT    PLAU       1
36862   NFIB    NFIC       1
36863   NFIB    NFIX       1

[36852 rows x 3 columns]

In [23]:
HPRD_network3 = HPRD_network2.dropna()

In [24]:
HPRD_network3.isnull().sum().sum()

0

In [25]:
HPRD_network3

      source  target  weight
0      NR3C1   RNF14       1
1      NCOA4   RNF14       1
2       ESR1   RNF14       1
3      RNF14  UBE2E1       1
4      RNF14  TENT5A       1
...      ...     ...     ...
36859   SELE    SELL       1
36860  CRYAA   CRYAB       1
36861   PLAT    PLAU       1
36862   NFIB    NFIC       1
36863   NFIB    NFIX       1

[36844 rows x 3 columns]

In [29]:
HPRD_network3.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/HPRD_network.tsv', sep='\t')

In [ ]:
# Com essa solução eu tenho a lista de genes dessa rede que não possuem features correspondentes
# O próximo passo é remover esses genes da rede

In [30]:
label_1 = pd.merge(HPRD_features_da_rede2, labels, how = 'left', on = 'gene')

label_2 = label_1.drop(columns=['betweenness', 'closeness', 'degree', 'clustering_coefficient'])

# label_2.loc[label_2['label'] == 'True', 'label'] = 'driver'
# label_2.loc[label_2['label'] == 'False', 'label'] = 'passenger'

label_3 = label_2.set_index('gene')

label_3

        label
gene
A1BG    False
A1CF     True
A2M     False
AAGAB   False
AAMP    False
...       ...
ZWINT   False
ZXDC    False
ZYG11B  False
ZYX     False
ZZEF1   False

[9444 rows x 1 columns]

In [31]:
label_4 = label_3.dropna()

label_4

        label
gene
A1BG    False
A1CF     True
A2M     False
AAGAB   False
AAMP    False
...       ...
ZWINT   False
ZXDC    False
ZYG11B  False
ZYX     False
ZZEF1   False

[9438 rows x 1 columns]

In [32]:
label_4.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/HPRD_labels.tsv', sep='\t')

### CPDB

In [23]:
CPDB_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/CPDB_network.tsv', sep='\t', index_col='Unnamed: 0')

CPDB_features_da_rede = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features_das_redes/features_cpdb2.tsv', sep='\t', index_col='Unnamed: 0')

features = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features/unity_features.tsv', sep='\t', index_col='Unnamed: 0')

labels = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/labels/unity_labels.tsv', sep='\t', index_col='Unnamed: 0')

C:\Users\renan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [26]:
CPDB_features_da_rede2 = CPDB_features_da_rede.rename(columns={"Gene": "gene"})

# Deixando igual o número de features ao número de nós 

# A ideia é fazer um conact com as features das redes (que já são os números de nós das redes) e manter só os que deram macth com esse dataframe 'left' no caso
# Isso soluciona porque concatena e fica apenas os genes contidos na rede ppi correspondente

CPDB_features = pd.merge(CPDB_features_da_rede2, features, how = 'left', on = 'gene')

CPDB_features_completo = CPDB_features.set_index('gene')

CPDB_features_completo

,betweenness,closeness,degree,clustering_coefficient,CNA: BLCA,CNA: BRCA,CNA: CESC,CNA: COAD,CNA: ESCA,CNA: HNSC,...,MF: KIRC,MF: KIRP,MF: LIHC,MF: LUAD,MF: LUSC,MF: PRAD,MF: READ,MF: STAD,MF: THCA,MF: UCEC
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.002217,0.330832,0.004098,0.045455,0.0,0.0,0.167401,0.000000,0.000000,0.255263,...,0.012838,0.040970,0.050114,0.000000,0.000000,0.022774,0.028288,0.013054,0.000000,0.007712
A1CF,0.000063,0.347189,0.004471,0.089744,0.0,0.0,0.000000,0.000000,0.283951,0.000000,...,0.012698,0.000000,0.024672,0.117901,0.000000,0.090341,0.027762,0.011448,0.000000,0.010251
A2M,0.015058,0.422422,0.085693,0.159081,0.0,0.0,0.000000,0.174419,0.000000,0.000000,...,0.012836,0.040877,0.000000,0.122328,0.109769,0.022773,0.000000,0.038998,0.003601,0.019196
A2ML1,0.000759,0.411993,0.076379,0.711295,0.0,0.0,0.000000,0.184049,0.000000,0.000000,...,0.000000,0.040866,0.049805,0.040017,0.054533,0.022713,0.000000,0.063755,0.000000,0.007600
A4GALT,0.000005,0.294981,0.001490,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.022728,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZXDC,0.001567,0.391348,0.032042,0.739642,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.040907,0.000000,0.000000,0.000000,0.000000,0.000000,0.025721,0.003603,0.011466
ZYG11B,0.000371,0.377584,0.026826,0.554033,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.012818,0.081662,0.025013,0.000000,0.000000,0.000000,0.000000,0.038673,0.000000,0.000000
ZYX,0.008109,0.464479,0.476155,0.720111,0.0,0.0,0.264317,0.000000,0.000000,0.000000,...,0.012815,0.000000,0.000000,0.020495,0.000000,0.000000,0.000000,0.012873,0.000000,0.022981
ZZEF1,0.000957,0.389488,0.048063,0.266547,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.038417,0.204110,0.000000,0.059756,0.000000,0.068216,0.028239,0.050702,0.003603,0.041296
ZZZ3,0.000847,0.391320,0.041729,0.476612,0.0,0.0,0.000000,0.345930,0.000000,0.000000,...,0.012822,0.000000,0.000000,0.020198,0.000000,0.000000,0.000000,0.000000,0.003603,0.003874

In [27]:
CPDB_features_completo.isnull().sum().sum()

0

In [28]:
CPDB_features_completo.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/CPDB_features.tsv', sep='\t')

In [69]:
# Ficar apenas com os labels que também contém no banco de dados

label_1 = pd.merge(CPDB_features_da_rede2, labels, how = 'left', on = 'gene')

label_2 = label_1.drop(columns=['betweenness', 'closeness', 'degree', 'clustering_coefficient'])

# label_2.loc[label_2['label'] == 'True', 'label'] = 'driver'
# label_2.loc[label_2['label'] == 'False', 'label'] = 'passenger'

label_3 = label_2.set_index('gene')

label_3

        label
gene
A1BG    False
A1CF     True
A2M     False
A2ML1   False
A4GALT  False
...       ...
ZXDC    False
ZYG11B  False
ZYX     False
ZZEF1   False
ZZZ3    False

[16251 rows x 1 columns]

In [70]:
label_4 = label_3.dropna()

label_4

        label
gene
A1BG    False
A1CF     True
A2M     False
A2ML1   False
A4GALT  False
...       ...
ZXDC    False
ZYG11B  False
ZYX     False
ZZEF1   False
ZZZ3    False

[16243 rows x 1 columns]

In [71]:
label_4.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/CPDB_labels.tsv', sep='\t')

### STRING

In [29]:
STRING_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/STRING_network.tsv', sep='\t', index_col='Unnamed: 0')

STRING_features_da_rede = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features_das_redes/features_STRING2.tsv', sep='\t', index_col='Unnamed: 0')

features = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features/unity_features.tsv', sep='\t', index_col='Unnamed: 0')

labels = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/labels/unity_labels.tsv', sep='\t', index_col='Unnamed: 0')

C:\Users\renan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [32]:
STRING_features_da_rede2 = STRING_features_da_rede.rename(columns={"Gene": "gene"})

# Deixando igual o número de features ao número de nós 

# A ideia é fazer um conact com as features das redes (que já são os números de nós das redes) e manter só os que deram macth com esse dataframe 'left' no caso
# Isso soluciona porque concatena e fica apenas os genes contidos na rede ppi correspondente

STRING_features = pd.merge(STRING_features_da_rede2, features, how = 'left', on = 'gene')

STRING_features_completo = STRING_features.set_index('gene')

STRING_features_completo

,betweenness,closeness,degree,clustering_coefficient,CNA: BLCA,CNA: BRCA,CNA: CESC,CNA: COAD,CNA: ESCA,CNA: HNSC,...,MF: KIRC,MF: KIRP,MF: LIHC,MF: LUAD,MF: LUSC,MF: PRAD,MF: READ,MF: STAD,MF: THCA,MF: UCEC
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.002419,0.478295,0.056699,0.374335,0.0,0.0,0.167401,0.000000,0.000000,0.255263,...,0.012838,0.040970,0.050114,0.000000,0.000000,0.022774,0.028288,0.013054,0.000000,0.007712
A1CF,0.000299,0.447816,0.016067,0.220566,0.0,0.0,0.000000,0.000000,0.283951,0.000000,...,0.012698,0.000000,0.024672,0.117901,0.000000,0.090341,0.027762,0.011448,0.000000,0.010251
A2M,0.003609,0.485717,0.071172,0.274202,0.0,0.0,0.000000,0.174419,0.000000,0.000000,...,0.012836,0.040877,0.000000,0.122328,0.109769,0.022773,0.000000,0.038998,0.003601,0.019196
A2ML1,0.001656,0.433100,0.018457,0.170606,0.0,0.0,0.000000,0.184049,0.000000,0.000000,...,0.000000,0.040866,0.049805,0.040017,0.054533,0.022713,0.000000,0.063755,0.000000,0.007600
A4GALT,0.000352,0.444630,0.009826,0.179099,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.022728,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,0.000081,0.397876,0.006374,0.380102,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007645
ZYG11B,0.000284,0.416972,0.008631,0.265268,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.012818,0.081662,0.025013,0.000000,0.000000,0.000000,0.000000,0.038673,0.000000,0.000000
ZYX,0.003732,0.490275,0.066259,0.265828,0.0,0.0,0.264317,0.000000,0.000000,0.000000,...,0.012815,0.000000,0.000000,0.020495,0.000000,0.000000,0.000000,0.012873,0.000000,0.022981
ZZEF1,0.006500,0.495591,0.107157,0.485185,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.038417,0.204110,0.000000,0.059756,0.000000,0.068216,0.028239,0.050702,0.003603,0.041296
ZZZ3,0.004431,0.481802,0.067322,0.290182,0.0,0.0,0.000000,0.345930,0.000000,0.000000,...,0.012822,0.000000,0.000000,0.020198,0.000000,0.000000,0.000000,0.000000,0.003603,0.003874

In [33]:
STRING_features_completo.isnull().sum().sum()

0

In [34]:
STRING_features_completo.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/STRING_features.tsv', sep='\t')

In [80]:
# Ficar apenas com os labels que também contém no banco de dados

label_1 = pd.merge(STRING_features_da_rede2, labels, how = 'left', on = 'gene')

label_2 = label_1.drop(columns=['betweenness', 'closeness', 'degree', 'clustering_coefficient'])

# label_2.loc[label_2['label'] == 'True', 'label'] = 'driver'
# label_2.loc[label_2['label'] == 'False', 'label'] = 'passenger'

label_3 = label_2.set_index('gene')

label_3

        label
gene
A1BG    False
A1CF     True
A2M     False
A2ML1   False
A4GALT  False
...       ...
ZYG11A  False
ZYG11B  False
ZYX     False
ZZEF1   False
ZZZ3    False

[18044 rows x 1 columns]

In [81]:
label_4 = label_3.dropna()

label_4

        label
gene
A1BG    False
A1CF     True
A2M     False
A2ML1   False
A4GALT  False
...       ...
ZYG11A  False
ZYG11B  False
ZYX     False
ZZEF1   False
ZZZ3    False

[17872 rows x 1 columns]

In [82]:
label_4.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/STRING_labels.tsv', sep='\t')

### PCNET

In [35]:
PCNET_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/PCNET_network.tsv', sep='\t', index_col='Unnamed: 0')

PCNET_features_da_rede = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features_das_redes/features_pcnet2.tsv', sep='\t', index_col='Unnamed: 0')

features = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features/unity_features.tsv', sep='\t', index_col='Unnamed: 0')

labels = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/labels/unity_labels.tsv', sep='\t', index_col='Unnamed: 0')

C:\Users\renan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [38]:
PCNET_features_da_rede2 = PCNET_features_da_rede.rename(columns={"Gene": "gene"})

# Deixando igual o número de features ao número de nós 

# A ideia é fazer um conact com as features das redes (que já são os números de nós das redes) e manter só os que deram macth com esse dataframe 'left' no caso
# Isso soluciona porque concatena e fica apenas os genes contidos na rede ppi correspondente

PCNET_features = pd.merge(PCNET_features_da_rede2, features, how = 'left', on = 'gene')

PCNET_features_completo = PCNET_features.set_index('gene')

PCNET_features_completo

,betweenness,closeness,degree,clustering_coefficient,CNA: BLCA,CNA: BRCA,CNA: CESC,CNA: COAD,CNA: ESCA,CNA: HNSC,...,MF: KIRC,MF: KIRP,MF: LIHC,MF: LUAD,MF: LUSC,MF: PRAD,MF: READ,MF: STAD,MF: THCA,MF: UCEC
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.000094,0.428117,0.014590,0.390830,0.0,0.0,0.167401,0.000000,0.000000,0.255263,...,0.012838,0.040970,0.050114,0.000000,0.000000,0.022774,0.028288,0.013054,0.000000,0.007712
A1CF,0.000931,0.453995,0.037674,0.146689,0.0,0.0,0.000000,0.000000,0.283951,0.000000,...,0.012698,0.000000,0.024672,0.117901,0.000000,0.090341,0.027762,0.011448,0.000000,0.010251
A2M,0.001133,0.466766,0.052663,0.161908,0.0,0.0,0.000000,0.174419,0.000000,0.000000,...,0.012836,0.040877,0.000000,0.122328,0.109769,0.022773,0.000000,0.038998,0.003601,0.019196
A2ML1,0.000058,0.390413,0.006895,0.265839,0.0,0.0,0.000000,0.184049,0.000000,0.000000,...,0.000000,0.040866,0.049805,0.040017,0.054533,0.022713,0.000000,0.063755,0.000000,0.007600
A3GALT2,0.000000,0.258046,0.000100,1.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013021,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,0.000025,0.412664,0.001499,0.241667,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007645
ZYG11B,0.000186,0.434382,0.008094,0.147546,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.012818,0.081662,0.025013,0.000000,0.000000,0.000000,0.000000,0.038673,0.000000,0.000000
ZYX,0.002006,0.487889,0.088538,0.155705,0.0,0.0,0.264317,0.000000,0.000000,0.000000,...,0.012815,0.000000,0.000000,0.020495,0.000000,0.000000,0.000000,0.012873,0.000000,0.022981
ZZEF1,0.000397,0.447501,0.015889,0.134277,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.038417,0.204110,0.000000,0.059756,0.000000,0.068216,0.028239,0.050702,0.003603,0.041296
ZZZ3,0.000841,0.468069,0.085140,0.245540,0.0,0.0,0.000000,0.345930,0.000000,0.000000,...,0.012822,0.000000,0.000000,0.020198,0.000000,0.000000,0.000000,0.000000,0.003603,0.003874

In [40]:
PCNET_features_completo.isnull().sum().sum()

0

In [39]:
PCNET_features_completo.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/PCNET_features.tsv', sep='\t')

In [91]:
# Ficar apenas com os labels que também contém no banco de dados

label_1 = pd.merge(PCNET_features_da_rede2, labels, how = 'left', on = 'gene')

label_2 = label_1.drop(columns=['betweenness', 'closeness', 'degree', 'clustering_coefficient'])

# label_2.loc[label_2['label'] == 'True', 'label'] = 'driver'
# label_2.loc[label_2['label'] == 'False', 'label'] = 'passenger'

label_3 = label_2.set_index('gene')

label_3

         label
gene
A1BG     False
A1CF      True
A2M      False
A2ML1    False
A3GALT2  False
...        ...
ZYG11A   False
ZYG11B   False
ZYX      False
ZZEF1    False
ZZZ3     False

[19116 rows x 1 columns]

In [92]:
label_3.isnull().sum().sum()

0

In [58]:
label_3.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/PCNET_labels.tsv', sep='\t')

### UNITY

In [41]:
UNITY_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/UNITY_network.tsv', sep='\t', index_col='Unnamed: 0')

UNITY_features_da_rede = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features_das_redes/features_UNITY2.tsv', sep='\t', index_col='Unnamed: 0')

features = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/features/unity_features.tsv', sep='\t', index_col='Unnamed: 0')

labels = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/labels/unity_labels.tsv', sep='\t', index_col='Unnamed: 0')

C:\Users\renan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [44]:
UNITY_features_da_rede2 = UNITY_features_da_rede.rename(columns={"Gene": "gene"})

# Deixando igual o número de features ao número de nós 

# A ideia é fazer um conact com as features das redes (que já são os números de nós das redes) e manter só os que deram macth com esse dataframe 'left' no caso
# Isso soluciona porque concatena e fica apenas os genes contidos na rede ppi correspondente

UNITY_features = pd.merge(UNITY_features_da_rede2, features, how = 'left', on = 'gene')

UNITY_features_completo = UNITY_features.set_index('gene')

UNITY_features_completo

,betweenness,closeness,degree,clustering_coefficient,CNA: BLCA,CNA: BRCA,CNA: CESC,CNA: COAD,CNA: ESCA,CNA: HNSC,...,MF: KIRC,MF: KIRP,MF: LIHC,MF: LUAD,MF: LUSC,MF: PRAD,MF: READ,MF: STAD,MF: THCA,MF: UCEC
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.000459,0.483569,0.042271,0.366879,0.0,0.0,0.167401,0.000000,0.000000,0.255263,...,0.012838,0.040970,0.050114,0.000000,0.000000,0.022774,0.028288,0.013054,0.000000,0.007712
A1CF,0.001054,0.482688,0.040320,0.158292,0.0,0.0,0.000000,0.000000,0.283951,0.000000,...,0.012698,0.000000,0.024672,0.117901,0.000000,0.090341,0.027762,0.011448,0.000000,0.010251
A2M,0.002032,0.495989,0.085656,0.215963,0.0,0.0,0.000000,0.174419,0.000000,0.000000,...,0.012836,0.040877,0.000000,0.122328,0.109769,0.022773,0.000000,0.038998,0.003601,0.019196
A2ML1,0.000627,0.481006,0.032702,0.360546,0.0,0.0,0.000000,0.184049,0.000000,0.000000,...,0.000000,0.040866,0.049805,0.040017,0.054533,0.022713,0.000000,0.063755,0.000000,0.007600
A3GALT2,0.000000,0.324552,0.000093,1.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013021,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,0.000016,0.439337,0.005295,0.372656,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007645
ZYG11B,0.000210,0.467069,0.015050,0.245172,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.012818,0.081662,0.025013,0.000000,0.000000,0.000000,0.000000,0.038673,0.000000,0.000000
ZYX,0.005294,0.522178,0.199461,0.358591,0.0,0.0,0.264317,0.000000,0.000000,0.000000,...,0.012815,0.000000,0.000000,0.020495,0.000000,0.000000,0.000000,0.012873,0.000000,0.022981
ZZEF1,0.002388,0.498335,0.089093,0.382458,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.038417,0.204110,0.000000,0.059756,0.000000,0.068216,0.028239,0.050702,0.003603,0.041296
ZZZ3,0.008555,0.500715,0.101171,0.250623,0.0,0.0,0.000000,0.345930,0.000000,0.000000,...,0.012822,0.000000,0.000000,0.020198,0.000000,0.000000,0.000000,0.000000,0.003603,0.003874

In [45]:
UNITY_features_completo.isnull().sum().sum()

0

In [46]:
UNITY_features_completo.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/UNITY_features.tsv', sep='\t')

In [101]:
# Ficar apenas com os labels que também contém no banco de dados

label_1 = pd.merge(UNITY_features_da_rede2, labels, how = 'left', on = 'gene')

label_2 = label_1.drop(columns=['betweenness', 'closeness', 'degree', 'clustering_coefficient'])

# label_2.loc[label_2['label'] == 'True', 'label'] = 'driver'
# label_2.loc[label_2['label'] == 'False', 'label'] = 'passenger'

label_3 = label_2.set_index('gene')

label_3

         label
gene
A1BG     False
A1CF      True
A2M      False
A2ML1    False
A3GALT2  False
...        ...
ZYG11A   False
ZYG11B   False
ZYX      False
ZZEF1    False
ZZZ3     False

[19792 rows x 1 columns]

In [102]:
label_4 = label_3.dropna()

label_4

         label
gene
A1BG     False
A1CF      True
A2M      False
A2ML1    False
A3GALT2  False
...        ...
ZYG11A   False
ZYG11B   False
ZYX      False
ZZEF1    False
ZZZ3     False

[19602 rows x 1 columns]

In [103]:
label_4.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/data_final/UNITY_labels.tsv', sep='\t')